## 데이터 처리 환경설정

In [1]:
import pandas as pd
import openpyxl
import warnings
warnings.filterwarnings('ignore')

### 데이터 불러오기

In [2]:
df_sam1 = pd.read_csv('./sample1.csv')
df_sam2 = pd.read_csv('./sample2.csv')

In [3]:
df_sam1.head()

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_45,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54
0,3654335,A.D.R,1934.1.29,OD,2005-03-18 오후 12:57:56,NaN,2.8,5,41,1,...,-21,-7,-31,-10,-21,-9,-16,-19,-18,-24
1,3654335,A.D.R,1934.1.29,OS,2005-03-18 오후 1:08:41,NaN,0.0,5,24,1,...,-11,-6,-16,-14,-8,-7,-1,-3,-3,-12

In [4]:
df_sam2.head()

  PID\tFull Name\tDOB\tEye\tExam Date\tExam ID\tPupil diameter\tFalse positive percent\tFalse negative percent\tFixation loss\tFixation trial\tExam duration(min)\tGHT\tMD\tMD probability\tPSD\tPSD probability\tVFI\tPDP_01\tPDP_02\tPDP_03\tPDP_04\tPDP_05\tPDP_06\tPDP_07\tPDP_08\tPDP_09\tPDP_10\tPDP_11\tPDP_12\tPDP_13\tPDP_14\tPDP_15\tPDP_16\tPDP_17\tPDP_18\tPDP_19\tPDP_20\tPDP_21\tPDP_22\tPDP_23\tPDP_24\tPDP_25\tPDP_26\tPDP_27\tPDP_28\tPDP_29\tPDP_30\tPDP_31\tPDP_32\tPDP_33\tPDP_34\tPDP_35\tPDP_36\tPDP_37\tPDP_38\tPDP_39\tPDP_40\tPDP_41\tPDP_42\tPDP_43\tPDP_44\tPDP_45\tPDP_46\tPDP_47\tPDP_48\tPDP_49\tPDP_50\tPDP_51\tPDP_52\tPDP_53\tPDP_54\tPDV_01\tPDV_02\tPDV_03\tPDV_04\tPDV_05\tPDV_06\tPDV_07\tPDV_08\tPDV_09\tPDV_10\tPDV_11\tPDV_12\tPDV_13\tPDV_14\tPDV_15\tPDV_16\tPDV_17\tPDV_18\tPDV_19\tPDV_20\tPDV_21\tPDV_22\tPDV_23\tPDV_24\tPDV_25\tPDV_26\tPDV_27\tPDV_28\tPDV_29\tPDV_30\tPDV_31\tPDV_32\tPDV_33\tPDV_34\tPDV_35\tPDV_36\tPDV_37\tPDV_38\tPDV_39\tPDV_40\tPDV_41\tPDV_42\tPDV_43\tPDV_44\tPDV_45\tPDV_46\tPDV_47\tPDV_48\tPDV_49\tPDV_50\tPDV_51\tPDV_52\tPDV_53\tPDV_54\tTHV_01\tTHV_02\tTHV_03\tTHV_04\tTHV_05\tTHV_06\tTHV_07\tTHV_08\tTHV_09\tTHV_10\tTHV_11\tTHV_12\tTHV_13\tTHV_14\tTHV_15\tTHV_16\tTHV_17\tTHV_18\tTHV_19\tTHV_20\tTHV_21\tTHV_22\tTHV_23\tTHV_24\tTHV_25\tTHV_26\tTHV_27\tTHV_28\tTHV_29\tTHV_30\tTHV_31\tTHV_32\tTHV_33\tTHV_34\tTHV_35\tTHV_36\tTHV_37\tTHV_38\tTHV_39\tTHV_40\tTHV_41\tTHV_42\tTHV_43\tTHV_44\tTHV_45\tTHV_46\tTHV_47\tTHV_48\tTHV_49\tTHV_50\tTHV_51\tTHV_52\tTHV_53\tTHV_54\tTDP_01\tTDP_02\tTDP_03\tTDP_04\tTDP_05\tTDP_06\tTDP_07\tTDP_08\tTDP_09\tTDP_10\tTDP_11\tTDP_12\tTDP_13\tTDP_14\tTDP_15\tTDP_16\tTDP_17\tTDP_18\tTDP_19\tTDP_20\tTDP_21\tTDP_22\tTDP_23\tTDP_24\tTDP_25\tTDP_26\tTDP_27\tTDP_28\tTDP_29\tTDP_30\tTDP_31\tTDP_32\tTDP_33\tTDP_34\tTDP_35\tTDP_36\tTDP_37\tTDP_38\tTDP_39\tTDP_40\tTDP_41\tTDP_42\tTDP_43\tTDP_44\tTDP_45\tTDP_46\tTDP_47\tTDP_48\tTDP_49\tTDP_50\tTDP_51\tTDP_52\tTDP_53\tTDP_54\tTDV_01\tTDV_02\tTDV_03\tTDV_04\tTDV_05\tTDV_06\tTDV_07\tTDV_08\tTDV_09\tTDV_10\tTDV_11\tTDV_12\tTDV_13\tTDV_14\tTDV_15\tTDV_16\tTDV_17\tTDV_18\tTDV_19\tTDV_20\tTDV_21\tTDV_22\tTDV_23\tTDV_24\tTDV_25\tTDV_26\tTDV_27\tTDV_28\tTDV_29\tTDV_30\tTDV_31\tTDV_32\tTDV_33\tTDV_34\tTDV_35\tTDV_36\tTDV_37\tTDV_38\tTDV_39\tTDV_40\tTDV_41\tTDV_42\tTDV_43\tTDV_44\tTDV_45\tTDV_46\tTDV_47\tTDV_48\tTDV_49\tTDV_50\tTDV_51\tTDV_52\tTDV_53\tTDV_54\tHospital
0  1912561\t k.m.y\t1973-03-02\tOD\t2013-01-17 오전...
1  1912561\t k.m.y\t1973-03-02\tOS\t2013-01-17 오전...
2  1591336\t1591336\t1960-01-23\tOD\t2013-07-25 오...
3  1591336\t1591336\t1960-01-23\tOS\t2013-07-25 오...
4  1314292\ta.a.r\t1981-07-15\tOD\t2009-08-19 오전 ...

컬럼이 sample1과 다르므로 확인해줌

In [5]:
df_sam2.columns

Index(['PID\tFull Name\tDOB\tEye\tExam Date\tExam ID\tPupil diameter\tFalse positive percent\tFalse negative percent\tFixation loss\tFixation trial\tExam duration(min)\tGHT\tMD\tMD probability\tPSD\tPSD probability\tVFI\tPDP_01\tPDP_02\tPDP_03\tPDP_04\tPDP_05\tPDP_06\tPDP_07\tPDP_08\tPDP_09\tPDP_10\tPDP_11\tPDP_12\tPDP_13\tPDP_14\tPDP_15\tPDP_16\tPDP_17\tPDP_18\tPDP_19\tPDP_20\tPDP_21\tPDP_22\tPDP_23\tPDP_24\tPDP_25\tPDP_26\tPDP_27\tPDP_28\tPDP_29\tPDP_30\tPDP_31\tPDP_32\tPDP_33\tPDP_34\tPDP_35\tPDP_36\tPDP_37\tPDP_38\tPDP_39\tPDP_40\tPDP_41\tPDP_42\tPDP_43\tPDP_44\tPDP_45\tPDP_46\tPDP_47\tPDP_48\tPDP_49\tPDP_50\tPDP_51\tPDP_52\tPDP_53\tPDP_54\tPDV_01\tPDV_02\tPDV_03\tPDV_04\tPDV_05\tPDV_06\tPDV_07\tPDV_08\tPDV_09\tPDV_10\tPDV_11\tPDV_12\tPDV_13\tPDV_14\tPDV_15\tPDV_16\tPDV_17\tPDV_18\tPDV_19\tPDV_20\tPDV_21\tPDV_22\tPDV_23\tPDV_24\tPDV_25\tPDV_26\tPDV_27\tPDV_28\tPDV_29\tPDV_30\tPDV_31\tPDV_32\tPDV_33\tPDV_34\tPDV_35\tPDV_36\tPDV_37\tPDV_38\tPDV_39\tPDV_40\tPDV_41\tPDV_42\tPDV_43\tPDV_44\tPDV_45\tPDV_46\tPDV_47\tPDV_48\tPDV_49\tPDV_50\tPDV_51\tPDV_52\tPDV_53\tPDV_54\tTHV_01\tTHV_02\tTHV_03\tTHV_04\tTHV_05\tTHV_06\tTHV_07\tTHV_08\tTHV_09\tTHV_10\tTHV_11\tTHV_12\tTHV_13\tTHV_14\tTHV_15\tTHV_16\tTHV_17\tTHV_18\tTHV_19\tTHV_20\tTHV_21\tTHV_22\tTHV_23\tTHV_24\tTHV_25\tTHV_26\tTHV_27\tTHV_28\tTHV_29\tTHV_30\tTHV_31\tTHV_32\tTHV_33\tTHV_34\tTHV_35\tTHV_36\tTHV_37\tTHV_38\tTHV_39\tTHV_40\tTHV_41\tTHV_42\tTHV_43\tTHV_44\tTHV_45\tTHV_46\tTHV_47\tTHV_48\tTHV_49\tTHV_50\tTHV_51\tTHV_52\tTHV_53\tTHV_54\tTDP_01\tTDP_02\tTDP_03\tTDP_04\tTDP_05\tTDP_06\tTDP_07\tTDP_08\tTDP_09\tTDP_10\tTDP_11\tTDP_12\tTDP_13\tTDP_14\tTDP_15\tTDP_16\tTDP_17\tTDP_18\tTDP_19\tTDP_20\tTDP_21\tTDP_22\tTDP_23\tTDP_24\tTDP_25\tTDP_26\tTDP_27\tTDP_28\tTDP_29\tTDP_30\tTDP_31\tTDP_32\tTDP_33\tTDP_34\tTDP_35\tTDP_36\tTDP_37\tTDP_38\tTDP_39\tTDP_40\tTDP_41\tTDP_42\tTDP_43\tTDP_44\tTDP_45\tTDP_46\tTDP_47\tTDP_48\tTDP_49\tTDP_50\tTDP_51\tTDP_52\tTDP_53\tTDP_54\tTDV_01\tTDV_02\tTDV_03\tTDV_04\tTDV_05\tTDV_06\tTDV_07\tTDV_08\tTDV_09\tTDV_10\tTDV_11\tTDV_12\tTDV_13\tTDV_14\tTDV_15\tTDV_16\tTDV_17\tTDV_18\tTDV_19\tTDV_20\tTDV_21\tTDV_22\tTDV_23\tTDV_24\tTDV_25\tTDV_26\tTDV_27\tTDV_28\tTDV_29\tTDV_30\tTDV_31\tTDV_32\tTDV_33\tTDV_34\tTDV_35\tTDV_36\tTDV_37\tTDV_38\tTDV_39\tTDV_40\tTDV_41\tTDV_42\tTDV_43\tTDV_44\tTDV_45\tTDV_46\tTDV_47\tTDV_48\tTDV_49\tTDV_50\tTDV_51\tTDV_52\tTDV_53\tTDV_54\tHospital'], dtype='object')

In [6]:
com_column = df_sam2.columns[0].split('\t')

모든 열이 같고 sample2에 Hospital column만 하나 더 있음

In [7]:
for i in com_column:
    if i  not in df_sam1.columns:
        print(i)

Hospital

모든 데이터가 붙어 있으므로 보기 좋게 분리하여 저장

In [8]:
wb = openpyxl.Workbook()
sheet = wb.active
sheet.append(com_column)

for i in range(len(df_sam2)):
    sheet.append(df_sam2['PID\tFull Name\tDOB\tEye\tExam Date\tExam ID\tPupil diameter\tFalse positive percent\tFalse negative percent\tFixation loss\tFixation trial\tExam duration(min)\tGHT\tMD\tMD probability\tPSD\tPSD probability\tVFI\tPDP_01\tPDP_02\tPDP_03\tPDP_04\tPDP_05\tPDP_06\tPDP_07\tPDP_08\tPDP_09\tPDP_10\tPDP_11\tPDP_12\tPDP_13\tPDP_14\tPDP_15\tPDP_16\tPDP_17\tPDP_18\tPDP_19\tPDP_20\tPDP_21\tPDP_22\tPDP_23\tPDP_24\tPDP_25\tPDP_26\tPDP_27\tPDP_28\tPDP_29\tPDP_30\tPDP_31\tPDP_32\tPDP_33\tPDP_34\tPDP_35\tPDP_36\tPDP_37\tPDP_38\tPDP_39\tPDP_40\tPDP_41\tPDP_42\tPDP_43\tPDP_44\tPDP_45\tPDP_46\tPDP_47\tPDP_48\tPDP_49\tPDP_50\tPDP_51\tPDP_52\tPDP_53\tPDP_54\tPDV_01\tPDV_02\tPDV_03\tPDV_04\tPDV_05\tPDV_06\tPDV_07\tPDV_08\tPDV_09\tPDV_10\tPDV_11\tPDV_12\tPDV_13\tPDV_14\tPDV_15\tPDV_16\tPDV_17\tPDV_18\tPDV_19\tPDV_20\tPDV_21\tPDV_22\tPDV_23\tPDV_24\tPDV_25\tPDV_26\tPDV_27\tPDV_28\tPDV_29\tPDV_30\tPDV_31\tPDV_32\tPDV_33\tPDV_34\tPDV_35\tPDV_36\tPDV_37\tPDV_38\tPDV_39\tPDV_40\tPDV_41\tPDV_42\tPDV_43\tPDV_44\tPDV_45\tPDV_46\tPDV_47\tPDV_48\tPDV_49\tPDV_50\tPDV_51\tPDV_52\tPDV_53\tPDV_54\tTHV_01\tTHV_02\tTHV_03\tTHV_04\tTHV_05\tTHV_06\tTHV_07\tTHV_08\tTHV_09\tTHV_10\tTHV_11\tTHV_12\tTHV_13\tTHV_14\tTHV_15\tTHV_16\tTHV_17\tTHV_18\tTHV_19\tTHV_20\tTHV_21\tTHV_22\tTHV_23\tTHV_24\tTHV_25\tTHV_26\tTHV_27\tTHV_28\tTHV_29\tTHV_30\tTHV_31\tTHV_32\tTHV_33\tTHV_34\tTHV_35\tTHV_36\tTHV_37\tTHV_38\tTHV_39\tTHV_40\tTHV_41\tTHV_42\tTHV_43\tTHV_44\tTHV_45\tTHV_46\tTHV_47\tTHV_48\tTHV_49\tTHV_50\tTHV_51\tTHV_52\tTHV_53\tTHV_54\tTDP_01\tTDP_02\tTDP_03\tTDP_04\tTDP_05\tTDP_06\tTDP_07\tTDP_08\tTDP_09\tTDP_10\tTDP_11\tTDP_12\tTDP_13\tTDP_14\tTDP_15\tTDP_16\tTDP_17\tTDP_18\tTDP_19\tTDP_20\tTDP_21\tTDP_22\tTDP_23\tTDP_24\tTDP_25\tTDP_26\tTDP_27\tTDP_28\tTDP_29\tTDP_30\tTDP_31\tTDP_32\tTDP_33\tTDP_34\tTDP_35\tTDP_36\tTDP_37\tTDP_38\tTDP_39\tTDP_40\tTDP_41\tTDP_42\tTDP_43\tTDP_44\tTDP_45\tTDP_46\tTDP_47\tTDP_48\tTDP_49\tTDP_50\tTDP_51\tTDP_52\tTDP_53\tTDP_54\tTDV_01\tTDV_02\tTDV_03\tTDV_04\tTDV_05\tTDV_06\tTDV_07\tTDV_08\tTDV_09\tTDV_10\tTDV_11\tTDV_12\tTDV_13\tTDV_14\tTDV_15\tTDV_16\tTDV_17\tTDV_18\tTDV_19\tTDV_20\tTDV_21\tTDV_22\tTDV_23\tTDV_24\tTDV_25\tTDV_26\tTDV_27\tTDV_28\tTDV_29\tTDV_30\tTDV_31\tTDV_32\tTDV_33\tTDV_34\tTDV_35\tTDV_36\tTDV_37\tTDV_38\tTDV_39\tTDV_40\tTDV_41\tTDV_42\tTDV_43\tTDV_44\tTDV_45\tTDV_46\tTDV_47\tTDV_48\tTDV_49\tTDV_50\tTDV_51\tTDV_52\tTDV_53\tTDV_54\tHospital'][i].split('\t'))
    
wb.save('./compare.xlsx')

In [9]:
compare_data = pd.read_excel('./compare.xlsx')

In [10]:
compare_data.head()

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54,Hospital
0,1912561,k.m.y,1973-03-02,OD,2013-01-17 오전 8:38:54,NaN,0.0,0,0,0,...,0,-2,1,-1,1,0,0,0,1,Baek
1,1912561,k.m.y,1973-03-02,OS,2013-01-17 오전 8:44:36,NaN,0.0,2,5,2,...,-1,-5,-2,-1,-2,-3,0,-3,0,Baek
2,1591336,1591336,1960-01-23,OD,2013-07-25 오전 9:50:40,NaN,3.2,3,0,1,...,-4,-7,-5,-3,-2,-1,-2,-3,-3,Baek
3,1591336,1591336,1960-01-23,OS,2013-07-25 오전 9:59:05,NaN,3.1,0,3,0,...,-4,-5,-5,-3,-4,-3,-3,-4,-3,Baek
4,1314292,a.a.r,1981-07-15,OD,2009-08-19 오전 10:07:12,NaN,5.2,0,0,0,...,-7,-7,-7,-5,-5,-8,-7,-5,-6,Baek

sample1과 다른 Hospital 데이터만 제거

In [11]:
want_data = compare_data.drop(columns = 'Hospital')

* PID 컬럼을 보면 특이 데이터, 즉 1인 컬럼, 자리수가 적은 컬럼과_ID.2236651.1995.0403.021D.F9BC.23F1.5260 이렇게 되어있는 컬럼 존재
    * 오류 데이터인지 직접 확인

In [12]:
want_data['PID'].unique()

array(['1912561', '1591336', '1314292', '1631287', '1932797', '467111',
       '2053213', '2084438', '1918307', '2053123', '1404374', '2260530',
       '1772272', '1935220', '1370928', '455073', '2236651',
       '_ID.2236651.1995.0403.021D.F9BC.23F1.5260', '2316837', '97455',
       '97502', '1170661', '1819331', '1723518', '2210665', '1314696',
       '2415656', '2239966', '90103', '1346386', '1561434', '2099325',
       '1987020', '2153287', '2300316', '1642119', '2373087', '2211661',
       '1753020', '_ID.1753020.1948.0110.4269.527C.9E71.FB75', '1638454',
       '2092851', '2159083', '2161288', '1810772', '2247471', '1774899',
       '2322950', '2363439', '_ID.2363439.1955.0406.0A83.0554.33F1.6875',
       '2369628', '2164212', '1008895', '2176238', '1577880', '2369167',
       '77424', '97705', '155495', '12071', '1', '1945401', '1340140',
       '1291511', '2014368', '1515440', '1367574', '794359', '2166432',
       '2171309', '2179784', '2202935', '2203455', '2222965', '2228294',
       '2264171', '2317891', '1973098', '2207091', '2249946', '1166172',
       '1338522', '468702', '674226', '2362821', '1561032', '2392773',
       '2400245', '2393024', '2427281', '2437727',
       '_ID.1561434.1953.0927.3117.3A94.7D71.CDE8',
       '_ID.1346386.1948.0412.3117.3A94.7D71.CDE8',
       '_ID.1987020.1942.0425.DD3E.C6D8.DDB1.F168',
       '_ID.1152695.1943.1230.DD3E.C6D8.DDB1.F168',
       '_ID.1515440.1952.0415.CA9C.AD20.BA31.C068', '128001', '1947292',
       '2011268', '1892592', '2049836', '1479484', '2276288', '2226428',
       '1324432', '1226403', '1745850', '2035323', '1982326', '2112649',
       '2213084', '1656555', '1980003', '2336852', '1640354', '1338258',
       '2060665', '2027126', '2151891', '2124217', '1567987', '1948338',
       '2088177', '_ID.2124217.1951.1029.3ACD.47FC.8FF1.E770',
       '_ID.1350507.1942.1028.72B3.9524.FA71.7A70', '1443956', '2123715',
       '2147919', '1892705', '1801449', '2125491', '2332108', '2327518',
       '1463615', '1668611', '1318320', '1323172', '1841976', '2189263',
       '2190462', '121942', '161213', '1998227', '2026355', '1710296',
       '2173689', '1776149', '454771', '1755815', '2308539', '2322157',
       '1929018', '2352007', '1014661', '2201096', '1267645', '1984525',
       '1098869', '2248055', '1350507', '1152695', '1447341', '2257014',
       '718122', '1856137', '1626042', '1908502', '671867', '1299304',
       '2300182', '1666530', '1603111', '1999517', '2290184', '1936755',
       '1274133', '1081023', '1153431', '1024207', '1116508', '1599718',
       '1438639', '1072504', '2169563', '2308826', '1730402', '64055',
       '1871494', '1111127', '2214547', '2071920', '1562492', '2200874',
       '2205971', '2206718', '1372079', '2138683', '1633353', '2348990',
       '2368266', '1605701', '1855950', '1020371', '2052952', '1011037',
       '1268354', '2101233', '2102843', '1937188', '2017891', '2158310',
       '222946', '2094295', '2187434', '1876103', '2144800', '1186695',
       '2201462', '2306477', '1222277', '1969123', '1876635', '2061799',
       '487702', '1737500', '658831', '1606565', '642189', '90207',
       '130301', '145265', '1008785', '448532', '795209', '1890002',
       '755297', '1748023', '2058459', '2126276', '2095426', '2165416',
       '1857229', '1538142', '1163561', '615039', '1950544', '1270850',
       '2227542', '1419102', '2234788', '2202952', '2256803', '1807659',
       '2281324', '1075786', '2293481', '2338161', '1954512', '2317745',
       '1646037', '1524210', '1032442', '163112', '1599027', '1603277',
       '2047798', '2073510', '1727808', '2079017',
       '_ID.2071920.1943.1101.9B25.6B9C.5FC2.4395',
       '_ID.2200874.1974.0712.7ABD.A03C.09C2.8F95', '1279240', '84049',
       '185305', '1947494', '1069890'], dtype=object)

ID인 데이터들부터 처리

In [13]:
err_list = []
for i in range(len(want_data['PID'])):
    if not want_data['PID'][i].isdigit() : 
        err_list.append(i)

In [14]:
err_list

[51,
 52,
 151,
 152,
 182,
 190,
 193,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 426,
 427,
 438,
 439,
 476,
 477,
 482,
 483,
 975,
 976,
 977,
 978,
 981,
 982]

In [15]:
for i in err_list:
    if 'ID' not in df_sam2[df_sam2.columns[0]][i]:
        print(i)

처리 완료

In [16]:
for i in err_list:
    want_data['PID'][i] = df_sam2[df_sam2.columns[0]][982].split('.')[1]

PID 번호가 낮은 데이터들이 진짜 데이터가 맞는지 확인해봄

In [36]:
want_data

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_45,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54
0,1912561,K.M.Y,1973-03-02,OD,2013-01-17 오전 8:38:54,NaN,0.0,0,0,0,...,-1,0,-2,1,-1,1,0,0,0,1
1,1912561,K.M.Y,1973-03-02,OS,2013-01-17 오전 8:44:36,NaN,0.0,2,5,2,...,-2,-1,-5,-2,-1,-2,-3,0,-3,0
2,1591336,1591336,1960-01-23,OD,2013-07-25 오전 9:50:40,NaN,3.2,3,0,1,...,-4,-4,-7,-5,-3,-2,-1,-2,-3,-3
3,1591336,1591336,1960-01-23,OS,2013-07-25 오전 9:59:05,NaN,3.1,0,3,0,...,-3,-4,-5,-5,-3,-4,-3,-3,-4,-3
4,1314292,A.A.R,1981-07-15,OD,2009-08-19 오전 10:07:12,NaN,5.2,0,0,0,...,-11,-7,-7,-7,-5,-5,-8,-7,-5,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,185305,B.M.K,1953-06-17,OS,2009-05-27 오전 10:00:08,NaN,0.0,0,7,2,...,-6,-2,-4,-4,-2,-6,-4,-3,-5,-5
995,1947494,B.M.J,1989-11-27,OD,2009-08-07 오전 11:53:41,NaN,5.1,0,4,4,...,-5,1,-1,0,0,-1,0,-4,-2,0
996,1947494,B.M.J,1989-11-27,OS,2009-08-07 오후 12:09:54,NaN,6.4,7,14,0,...,-6,-2,-7,-5,-2,-5,-9,-8,-6,-4
997,1069890,B.M.S,1954-01-10,OD,2011-07-11 오후 12:05:03,NaN,8.3,0,0,5,...,3,-3,-3,-2,-2,-2,-2,-3,-3,-2
998,1069890,B.M.S,1954-01-10,OS,2011-07-11 오후 12:11:50,NaN,7.3,3,2,7,...,-5,-2,-3,0,3,-1,-6,-5,-4,-5

In [17]:
for i in range(len(want_data['PID'])):
    if '12071' == want_data['PID'][i]:
        print(i)

219
220

문제 없을 것으로 판단

In [18]:
df_sam2[df_sam2.columns[0]][219]

'12071\ta.j.w\t1949-03-09\tOD\t2008-05-29 오후 2:01:41\t\t0\t1\t10\t4\t17\t8\t3\t-9.96\t5\t3\t3\t92\t0\t4\t0\t1\t0\t0\t4\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t2\t0\t0\t\t3\t0\t0\t0\t0\t1\t0\t1\t\t0\t0\t1\t0\t4\t0\t3\t0\t3\t0\t0\t4\t0\t0\t2\t0\t0\t0\t0\t0\t-11\t-3\t-5\t0\t0\t-11\t1\t-2\t-5\t0\t-2\t-2\t-2\t2\t-2\t-5\t-2\t-1\t-1\t1\t0\t-7\t1\t1\t\t-7\t-2\t-2\t-2\t-2\t-3\t-2\t-5\t\t-2\t-1\t-4\t-2\t-9\t-2\t-12\t-2\t-5\t-3\t-2\t-10\t-3\t-2\t-5\t-1\t-1\t-4\t-2\t23\t9\t17\t16\t22\t22\t10\t23\t22\t14\t21\t21\t23\t23\t25\t17\t14\t20\t20\t19\t25\t22\t14\t26\t25\t10\t15\t21\t23\t23\t12\t21\t21\t22\t17\t21\t22\t18\t20\t13\t23\t7\t20\t19\t22\t23\t12\t20\t22\t17\t22\t23\t17\t20\t4\t4\t3\t4\t3\t4\t4\t3\t4\t3\t4\t4\t4\t4\t3\t3\t3\t4\t4\t3\t4\t3\t4\t4\t4\t\t4\t4\t4\t4\t4\t4\t4\t4\t\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t4\t-8\t-18\t-10\t-12\t-7\t-8\t-18\t-7\t-9\t-12\t-8\t-10\t-9\t-9\t-6\t-9\t-13\t-9\t-9\t-9\t-6\t-7\t-14\t-6\t-6\t\t-15\t-10\t-9\t-9\t-9\t-11\t-9\t-13\t\t-10\t-9\t-12\t-10\t-16\t-9\t-19\t-9\t-12\t-10\t-9\t-17\t-10\t-10\t-13\t-8\t-8\t-12\t-10\tBaek'

과연 1인 데이터들도 문제가 없을까?

In [19]:
one_list = []
for i in range(len(want_data['PID'])):
    if '1' == want_data['PID'][i]:
        one_list.append(i)

데이터 형태상으로는 문제가 없어보임

In [20]:
for i in one_list:
    print(df_sam2[df_sam2.columns[0]][i])

1	a.j.h	1982-01-01	OD	2008-11-03 오후 4:12:10		0	0	8	0	17	6	3	-7.88	5	8.42	5	85	0	0	0	0	0	0	0	0	4	4	1	0	4	4	4	0	0	1	0	0	4	0	0	0	0		4	0	0	0	4	0	0	0		1	0	0	3	0	0	1	0	0	0	0	3	0	0	0	0	0	0	2	-2	-2	-4	-3	2	-1	-2	0	-32	-16	-5	-2	-10	-16	-13	-3	0	-4	2	0	-32	-1	-2	-2	-3		-30	-3	-1	0	-9	-2	-3	-2		-4	-1	-1	-7	-2	-1	-6	-3	0	-1	0	-8	0	-1	-4	-2	-2	-4	-5	28	24	22	25	30	28	26	29	0	10	23	28	20	15	17	24	26	24	30	27	0	27	26	29	27	0	0	27	30	31	12	19	29	27	27	26	28	27	21	26	30	21	25	30	30	32	20	29	29	24	27	28	24	23	3	1	2	2	0	1	1	0	4	4	3	3	4	4	4	1	0	4	0	0	4	1	2	4	4		4	4	2	1	4	3	3	2		4	1	1	4	2	3	2	3	1	3	1	4	1	3	3	3	3	3	4	-5	-5	-7	-6	-1	-4	-4	-3	-35	-19	-8	-5	-13	-19	-15	-6	-2	-7	-1	-3	-35	-4	-5	-5	-6		-33	-6	-4	-3	-12	-5	-6	-5		-7	-4	-4	-10	-5	-4	-9	-6	-3	-4	-3	-11	-3	-4	-7	-5	-5	-7	-8	Baek
1	a.j.h	1982-01-01	OS	2008-11-03 오후 4:40:56		0	0	6	0	20	8	3	-13.83	5	14.23	5	67	4	4	4	4	4	4	4	4	4	4	3	2	0	4	1	3	4	4	0	3	4	0	0	0	0		4	0	0	0	4	0	0	0		0	0	0	0	0	0	1	1	3	0	0	0	0	1	1	0	0	0	0	-28	-28	-29	-30	-29	-30	-24	-28	-30	-31	-6	-14	0	-28	-8	-15	-30	-29	-1	-5	-25	-2	1	-1	-2		-30	0	0	-1	-18	-1	-2	-1		-1	1	-1	-3	0	-2	-4	-5	-8	1	0	1	-1	-8	-4	-5	-2	-1	-2	0	0	0	0	0	0	6	0	0	0	23	9	23	0	18	10	0	0	26	24	3	25	28	29	28	0	0	30	30	29	0	10	27	29	28	27	29	27	25	28	26	23	22	19	29	30	31	30	18	23	21	26	28	27	4	4	4	4	4	4	4	4	4	4	4	3	0	4	3	3	4	4	0	4	4	2	0	3	4		4	1	2	2	4	1	3	2		1	1	2	3	1	2	4	3	4	0	1	1	3	2	3	2	3	3	4	-31	-32	-33	-33	-33	-34	-27	-31	-33	-35	-10	-18	-4	-31	-11	-18	-33	-33	-4	-9	-28	-6	-3	-5	-6		-33	-3	-4	-4	-21	-4	-5	-5		-5	-3	-5	-7	-4	-5	-8	-8	-12	-3	-3	-3	-4	-11	-8	-9	-6	-5	-6	Baek
1	a.j.h	1982-01-01	OD	2008-11-04 오후 4:05:13		0	1	0	0	19	7	3	-4.42	4	7.31	5	89	0	0	0	0	0	0	4	2	0	0	4	0	0	0	0	0	1	0	0	4	0	0	0	1	0		4	1	0	1	2	0	1	2		0	0	1	0	1	0	0	0	3	1	0	0	0	0	0	0	0	0	0	0	1	1	0	-2	0	-16	-8	0	0	-13	-2	1	1	0	1	-5	-1	-3	-35	-1	-3	-3	-4	-2		-33	-4	-2	-4	-5	-4	-4	-5		-4	-3	-5	-3	-4	-2	-4	-3	-8	-4	-2	-2	-2	-6	-3	-1	-1	-2	-2	29	30	31	31	28	32	17	21	31	33	19	24	27	30	29	29	26	30	27	0	30	27	27	30	30	0	0	29	32	30	20	26	26	30	27	27	28	26	28	26	28	27	26	22	27	31	32	32	22	27	28	30	30	31	0	0	0	0	0	0	4	2	0	0	4	0	0	0	0	0	2	0	0	4	0	0	0	2	0		4	2	0	2	3	1	2	3		1	1	2	0	2	0	1	0	3	2	0	0	0	1	0	0	0	0	0	0	0	0	-1	-3	0	-16	-8	-1	0	-14	-3	0	1	0	0	-5	-1	-3	-35	-2	-4	-3	-4	-3		-33	-4	-2	-4	-6	-5	-4	-6		-4	-4	-5	-3	-5	-3	-4	-4	-8	-5	-2	-2	-2	-7	-4	-2	-1	-2	-2	Baek
1	a.j.h	1982-01-01	OS	2008-11-04 오후 4:14:53		0	0	0	0	21	8	3	-13.01	5	14.83	5	67	4	4	4	4	4	4	4	4	4	4	4	3	0	4	4	0	4	4	0	4	4	0	0	0	0		4	0	0	0	4	0	0	0		0	2	0	0	1	0	0	0	0	0	0	0	0	0	0	0	0	0	1	-29	-29	-30	-31	-30	-31	-18	-29	-31	-32	-25	-24	-8	-27	-21	0	-31	-30	2	-10	-29	-1	0	-1	-3		-29	-1	1	-1	-28	-1	-1	-4		-2	-5	-2	-4	-4	-3	-1	-1	0	1	0	0	0	3	1	-2	1	1	-4	0	0	0	0	0	0	12	0	0	0	5	0	16	0	6	26	0	0	29	21	0	27	28	30	28	0	0	30	33	30	0	1	28	30	26	27	24	27	25	24	25	28	26	28	30	30	31	32	30	29	25	29	31	26	4	4	4	4	4	4	4	4	4	4	4	4	1	4	4	0	4	4	0	4	4	0	0	1	4		4	1	0	1	4	0	2	3		2	4	2	3	3	2	0	0	0	0	1	1	1	0	0	1	0	0	4	-31	-32	-33	-33	-33	-34	-21	-31	-33	-35	-28	-27	-11	-29	-23	-3	-33	-33	-1	-12	-32	-4	-2	-4	-6		-31	-3	-2	-3	-31	-3	-4	-6		-5	-8	-5	-7	-7	-6	-3	-4	-3	-2	-3	-3	-3	1	-2	-5	-2	-2	-7	Baek
1	a.j.h	1982-01-01	OS	2008-11-26 오후 4:27:51		0	0	0	3	20	8	3	-12.78	5	14.62	5	69	4	4	4	4	4	4	4	4	4	4	4	4	0	4	4	0	4	4	0	4	4	0	0	0	1		4	0	0	0	4	0	0	0		0	1	0	0	0	0	0	0	0	0	0	0	0	0	0	4	0	0	0	-29	-29	-30	-31	-30	-31	-12	-28	-30	-32	-11	-26	-4	-28	-16	0	-21	-30	1	-8	-26	0	1	-1	-4		-31	-1	-1	-1	-17	0	-2	-3		-3	-4	-1	-2	-2	-1	-2	0	-2	-2	0	0	0	0	-2	-12	-2	0	-2	0	0	0	0	0	0	18	0	0	0	19	0	20	0	10	26	8	0	28	22	3	29	29	30	26	11	0	29	31	30	0	12	28	29	27	26	25	28	26	26	27	26	27	25	26	30	32	32	26	26	15	27	29	28	4	4	4	4	4	4	4	4	4	4	4	4	0	4	4	0	4	4	0	4	4	0	0	2	4		4	1	2	1	4	0	3	3		2	4	1	2	2	1	1	0	1	2	0	0	0	0	1	4	1	0	3	-31	-32	-33	-33	-33	-34	-15	-31	-33	-35	-14	-29	-7	-31	-19	-3	-24	-33	-2	-11	-29	-2	-1	-4	-7		-33	-4	-4	-4	-19	-3	-5	-6		-6	-7	-4	-5	-5	-4	-5	-3	-5	-5	-3	-2	-3	-3	-5	-15	-4	-3	-4	Baek
1	a.j.h	1982-01-01	OD	2008-11-26 오후 4:38:34		0	1	4	2	19	7	3	-4.46	4	6.73	5	91	0	0	0	0	0	1	4	0	0	1	4	0	0	0	0	0	0	0	0	4	0	0	0	0	0		4	0	0	0	1	1	0	0		0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	1	1	0	0	0	-4	-13	1	-2	-4	-26	1	0	0	0	0	-2	-1	-3	-20	-4	-4	-4	-2	-1		-33	-2	-2	-3	-4	-6	-3	-3		-3	-3	-3	0	-3	-2	-3	-2	-3	-2	-2	-2	-2	-4	-2	-1	-2	-2	-3	30	30	30	31	30	27	19	29	28	28	6	28	26	28	29	28	29	29	26	13	27	26	26	31	31	0	0	30	31	30	28	27	25	30	29	28	28	29	31	28	29	27	27	27	29	30	31	32	25	28	28	28	30	29	0	0	0	0	0	2	4	0	0	3	4	0	0	0	0	0	0	0	0	4	1	1	1	1	0		4	1	1	1	2	2	1	1		1	1	0	0	1	0	1	0	0	0	1	1	0	0	0	0	0	0	2	1	0	0	-1	0	-5	-14	0	-3	-4	-27	1	-1	-1	0	0	-3	-2	-4	-20	-4	-5	-5	-3	-2		-33	-3	-3	-3	-5	-6	-3	-3		-4	-4	-3	-1	-3	-2	-4	-3	-3	-2	-3	-3	-3	-4	-3	-2	-3	-2	-4	Baek
1	a.j.h	1982-01-01	OD	2009-01-29 오전 8:38:41		0	2	4	2	21	8	3	-3.92	3	5.81	5	92	0	0	0	0	0	0	4	0	0	0	4	0	0	0	0	0	0	0	0	4	3	0	1	0	0		4	0	0	0	1	0	0	3		0	0	1	0	0	0	0	0	0	0	0	1	0	1	0	0	0	0	0	0	-4	0	0	0	-1	-14	-2	0	-3	-23	4	2	1	0	-2	-2	-2	-4	-17	-6	-4	-6	-2	-1		-27	-2	-1	-1	-5	-4	-3	-6		-4	-2	-4	-4	-2	-2	-1	0	-2	0	-2	-4	-2	-6	0	-1	-1	-2	-2	28	25	31	31	30	30	19	26	31	29	9	30	28	30	28	26	28	29	25	15	25	26	24	32	32	17	4	31	33	32	28	27	27	30	25	27	29	27	27	28	29	29	29	28	31	31	30	32	22	30	28	30	30	30	0	1	0	0	0	0	4	0	0	1	4	0	0	0	0	0	0	0	0	4	3	1	1	0	0		4	0	0	0	2	1	1	4		1	0	2	1	0	0	0	0	0	0	0	3	1	1	0	0	0	0	0	-1	-5	0	0	0	-2	-14	-3	0	-3	-23	4	1	1	-1	-2	-3	-2	-5	-18	-7	-5	-7	-2	-2		-28	-2	-1	-2	-5	-4	-3	-7		-4	-3	-5	-4	-3	-2	-2	-1	-2	0	-2	-4	-3	-7	0	-2	-2	-2	-3	Baek
1	a.j.h	1982-01-01	OS	2009-01-29 오전 8:49:54		0	1	6	0	20	8	3	-11.86	5	14.94	5	72	4	4	4	4	4	4	4	4	4	4	4	4	0	4	3	0	4	4	0	3	4	0	0	0	0		4	0	0	0	4	0	0	0		0	0	0	0	0	0	0	0	0	0	0	0	0	0	0	2	0	0	0	-29	-29	-30	-31	-30	-32	-11	-29	-31	-32	-14	-26	-4	-29	-11	-2	-24	-30	0	-5	-31	-1	0	-1	-2		-31	0	0	1	-29	1	0	-1		-1	-1	0	-1	-1	-1	-1	-1	-2	0	-1	0	1	2	0	-8	-2	-1	-2	0	0	0	0	0	0	20	0	0	0	15	0	20	0	15	25	4	0	27	25	0	27	28	31	29	0	0	30	32	32	0	0	29	32	29	28	28	30	28	28	28	27	26	26	29	30	32	33	28	28	19	26	28	28	4	4	4	4	4	4	4	4	4	4	4	4	0	4	4	0	4	4	0	4	4	0	0	1	2		4	0	0	0	4	0	0	1		1	1	0	0	0	1	1	0	0	0	1	0	0	0	0	3	2	2	3	-31	-32	-33	-33	-33	-34	-13	-31	-33	-35	-17	-29	-6	-31	-14	-4	-27	-33	-3	-8	-34	-3	-2	-3	-4		-33	-3	-2	-2	-32	-2	-2	-3		-3	-4	-2	-3	-3	-4	-4	-3	-4	-3	-3	-2	-2	-1	-3	-10	-5	-4	-5	Baek

want_data의 DOB데이터를 df_sam1의 DOB와 같은 형태로 바꿀 방법은 떠오르지 않았지만 같이 datetime으로 바꿔주는 것이 좋겠다고 판단

In [37]:
df_sam1

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_45,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54
0,3654335,A.D.R,1934.1.29,OD,2005-03-18 오후 12:57:56,NaN,2.8,5,41,1,...,-21,-7,-31,-10,-21,-9,-16,-19,-18,-24
1,3654335,A.D.R,1934.1.29,OS,2005-03-18 오후 1:08:41,NaN,0.0,5,24,1,...,-11,-6,-16,-14,-8,-7,-1,-3,-3,-12

In [38]:
want_data

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_45,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54
0,1912561,K.M.Y,1973-03-02,OD,2013-01-17 오전 8:38:54,NaN,0.0,0,0,0,...,-1,0,-2,1,-1,1,0,0,0,1
1,1912561,K.M.Y,1973-03-02,OS,2013-01-17 오전 8:44:36,NaN,0.0,2,5,2,...,-2,-1,-5,-2,-1,-2,-3,0,-3,0
2,1591336,1591336,1960-01-23,OD,2013-07-25 오전 9:50:40,NaN,3.2,3,0,1,...,-4,-4,-7,-5,-3,-2,-1,-2,-3,-3
3,1591336,1591336,1960-01-23,OS,2013-07-25 오전 9:59:05,NaN,3.1,0,3,0,...,-3,-4,-5,-5,-3,-4,-3,-3,-4,-3
4,1314292,A.A.R,1981-07-15,OD,2009-08-19 오전 10:07:12,NaN,5.2,0,0,0,...,-11,-7,-7,-7,-5,-5,-8,-7,-5,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,185305,B.M.K,1953-06-17,OS,2009-05-27 오전 10:00:08,NaN,0.0,0,7,2,...,-6,-2,-4,-4,-2,-6,-4,-3,-5,-5
995,1947494,B.M.J,1989-11-27,OD,2009-08-07 오전 11:53:41,NaN,5.1,0,4,4,...,-5,1,-1,0,0,-1,0,-4,-2,0
996,1947494,B.M.J,1989-11-27,OS,2009-08-07 오후 12:09:54,NaN,6.4,7,14,0,...,-6,-2,-7,-5,-2,-5,-9,-8,-6,-4
997,1069890,B.M.S,1954-01-10,OD,2011-07-11 오후 12:05:03,NaN,8.3,0,0,5,...,3,-3,-3,-2,-2,-2,-2,-3,-3,-2
998,1069890,B.M.S,1954-01-10,OS,2011-07-11 오후 12:11:50,NaN,7.3,3,2,7,...,-5,-2,-3,0,3,-1,-6,-5,-4,-5

In [21]:
pd.to_datetime(df_sam1['DOB'])

0   1934-01-29
1   1934-01-29
Name: DOB, dtype: datetime64[ns]

In [22]:
pd.to_datetime(want_data['DOB'])

0     1973-03-02
1     1973-03-02
2     1960-01-23
3     1960-01-23
4     1981-07-15
         ...
994   1953-06-17
995   1989-11-27
996   1989-11-27
997   1954-01-10
998   1954-01-10
Name: DOB, Length: 999, dtype: datetime64[ns]

Full Name 컬럼은 동일하게 대문자로 바꿔줬고, 숫자 데이터로 되어있는 경우는 대체할 방법이 떠오르지 않았음

In [23]:
want_data['Full Name'] = want_data['Full Name'].apply(lambda x: x.upper().replace(' ',''))

In [24]:
df_sam1

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_45,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54
0,3654335,A.D.R,1934.1.29,OD,2005-03-18 오후 12:57:56,NaN,2.8,5,41,1,...,-21,-7,-31,-10,-21,-9,-16,-19,-18,-24
1,3654335,A.D.R,1934.1.29,OS,2005-03-18 오후 1:08:41,NaN,0.0,5,24,1,...,-11,-6,-16,-14,-8,-7,-1,-3,-3,-12

In [25]:
want_data.head(2)

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_45,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54
0,1912561,K.M.Y,1973-03-02,OD,2013-01-17 오전 8:38:54,NaN,0.0,0,0,0,...,-1,0,-2,1,-1,1,0,0,0,1
1,1912561,K.M.Y,1973-03-02,OS,2013-01-17 오전 8:44:36,NaN,0.0,2,5,2,...,-2,-1,-5,-2,-1,-2,-3,0,-3,0

Eye data도 null값이 없음

In [26]:
want_data['Eye'].unique()

array(['OD', 'OS'], dtype=object)

* Full Name 데이터에 PID 값이 들어오거나 이니셜 3글자로 안되어있는 경우가 있었음 
    * 이 경우 어떻게 처리해줘야 할까? - 조금 더 고민 필요
    * 일단 Full Name에 PID 값이 들어온 경우 다른 데이터를 보더라도 같은 형태였다 - 이니셜을 알아낼 수 없다는 뜻.
    * 3글자의 이니셜이 아닌 다른 이름의 경우 어떤 규칙을 적용해야할 지 고민

In [27]:
for i in want_data['Full Name']:
    if i.isdigit():
        print(i)

1591336
1591336

In [28]:
want_data['Full Name'].unique()

array(['K.M.Y', '1591336', 'A.A.R', 'A.A.S', 'A.B.J', 'A.B.D', 'A.B.H',
       'A.B.R', 'A.B.S', 'A.B.Y', 'A.C.W', 'A.C.S', 'A.C.H', 'A.C.Y',
       'A.C.G', 'A.D.S', 'A.D.Y', 'A.D.H', 'A.D.J', 'A.E', 'A.G.S',
       'A.G.J', 'A.G.A', 'A.G.C', 'A.G.B', 'A.H.R', 'A.H.Y', 'A.H.S',
       'A.H.K', 'A.H.M', 'A.H.I', 'A.H.J', 'A.H.B', 'A.I.H', 'A.I.J',
       'A.I.S', 'A.J.R', 'A.J.K', 'A.J.E', 'A.J.W', 'A.J.H', 'A.J.S',
       'A.J.A', 'A.J.O', 'A.J.N', 'A.J.I', 'A.J.Y', 'A.J.J', 'A.K.S',
       'A.K.J', 'A.K.H', 'A.M.K', 'A.M.S', 'A.M.H', 'A.M.Y', 'A.M.J',
       'A.M.R', 'A.M.O', 'A.M.A', 'A.O.S', 'A.O.J', 'A.O.Y', 'A.P.H',
       'A.P.S', 'A.S.H', 'A.S.Y', 'A.S.B', 'A.S.J', 'A.S.E', 'A.S.W',
       'A.S.C', 'A.S.G', 'A.S.I', 'A.S.O', 'A.S.S', 'A.S.D', 'A.T.W',
       'A.Y.S', 'A.Y.H', 'A.Y.J', 'A.Y.G', 'A.Y.R', 'A.Y.O', 'A.Y.E',
       'ALESSANDRO', 'ANJ.Y', 'ANJ.A', 'ANS.B', 'ANS.I', 'ANS.O', 'ANG.J',
       'ANG.H', 'B.A.R', 'B.B.T', 'B.B.R', 'B.B.G', 'B.B.J', 'B.B.S',
       'B.B.W', 'B.B.Y', 'B.C.W', 'B.C.M', 'B.CG', 'B.C.J', 'B.C.G',
       'B.C.Y', 'B.D.J', 'B.D.S', 'B.D.H', 'B.D.P', 'B.E.Y', 'B.E.A',
       'B.E.J', 'B.E.H', 'B.G.A', 'B.G.T', 'B.G.Y', 'B.G.H', 'B.G.S',
       'B.G.D', 'B.G.C', 'B.G.W', 'B.H.Y', 'B.H.W', 'B.H.O', 'B.H.J',
       'B.H.B', 'B.H.M', 'B.H.S', 'B.H.G', 'B.H.H', 'B.I.H', 'B.I.S',
       'B.I.J', 'B.I.B', 'B.J.N', 'B.J.K', 'B.J.G', 'B.J.Y', 'B.J.W',
       'B.J.E', 'B.J.H', 'B.J.I', 'B.J.D', 'B.J.S', 'B.J.C', 'B.J.M',
       'B.J.J', 'B.J.R', 'B.J.B', 'B.K.Y', 'B.K.C', 'B.K.T', 'B.K.W',
       'B.K.B', 'B.K.O', 'B.K.J', 'B.K.A', 'B.K.H', 'B.M.H', 'B.M.K',
       'B.M.J', 'B.M.S'], dtype=object)

In [29]:
for i in range(len(want_data.isnull().sum())):
    if want_data.isnull().sum()[i]!=0:
        print(i)

5
43
52
97
106
205
214
259
268

In [35]:
for i in range(len(df_sam1.isnull().sum())):
    if want_data.isnull().sum()[i]!=0:
        print(i)

5
43
52
97
106
205
214
259
268

In [30]:
df_sam1.iloc[[1],[5, 43, 52, 97, 106, 205, 214, 259, 268]]

   Exam ID  PDP_26  PDP_35  PDV_26  PDV_35  TDP_26  TDP_35  TDV_26  TDV_35
1      NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

In [31]:
want_data.iloc[[1],[5, 43, 52, 97, 106, 205, 214, 259, 268]]

   Exam ID  PDP_26  PDP_35  PDV_26  PDV_35  TDP_26  TDP_35  TDV_26  TDV_35
1      NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

In [32]:
want_data.to_csv('./compare_sample1.csv')

In [39]:
want_data

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_45,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54
0,1912561,K.M.Y,1973-03-02,OD,2013-01-17 오전 8:38:54,NaN,0.0,0,0,0,...,-1,0,-2,1,-1,1,0,0,0,1
1,1912561,K.M.Y,1973-03-02,OS,2013-01-17 오전 8:44:36,NaN,0.0,2,5,2,...,-2,-1,-5,-2,-1,-2,-3,0,-3,0
2,1591336,1591336,1960-01-23,OD,2013-07-25 오전 9:50:40,NaN,3.2,3,0,1,...,-4,-4,-7,-5,-3,-2,-1,-2,-3,-3
3,1591336,1591336,1960-01-23,OS,2013-07-25 오전 9:59:05,NaN,3.1,0,3,0,...,-3,-4,-5,-5,-3,-4,-3,-3,-4,-3
4,1314292,A.A.R,1981-07-15,OD,2009-08-19 오전 10:07:12,NaN,5.2,0,0,0,...,-11,-7,-7,-7,-5,-5,-8,-7,-5,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,185305,B.M.K,1953-06-17,OS,2009-05-27 오전 10:00:08,NaN,0.0,0,7,2,...,-6,-2,-4,-4,-2,-6,-4,-3,-5,-5
995,1947494,B.M.J,1989-11-27,OD,2009-08-07 오전 11:53:41,NaN,5.1,0,4,4,...,-5,1,-1,0,0,-1,0,-4,-2,0
996,1947494,B.M.J,1989-11-27,OS,2009-08-07 오후 12:09:54,NaN,6.4,7,14,0,...,-6,-2,-7,-5,-2,-5,-9,-8,-6,-4
997,1069890,B.M.S,1954-01-10,OD,2011-07-11 오후 12:05:03,NaN,8.3,0,0,5,...,3,-3,-3,-2,-2,-2,-2,-3,-3,-2
998,1069890,B.M.S,1954-01-10,OS,2011-07-11 오후 12:11:50,NaN,7.3,3,2,7,...,-5,-2,-3,0,3,-1,-6,-5,-4,-5

### sample1_data와 통일 시키는 함수

In [33]:
def compare_same(df) : 

    com_column = df.columns[0].split('\t')

    wb = openpyxl.Workbook()
    sheet = wb.active
    sheet.append(com_column)

    for i in range(len(df)):
        sheet.append(df['PID\tFull Name\tDOB\tEye\tExam Date\tExam ID\tPupil diameter\tFalse positive percent\tFalse negative percent\tFixation loss\tFixation trial\tExam duration(min)\tGHT\tMD\tMD probability\tPSD\tPSD probability\tVFI\tPDP_01\tPDP_02\tPDP_03\tPDP_04\tPDP_05\tPDP_06\tPDP_07\tPDP_08\tPDP_09\tPDP_10\tPDP_11\tPDP_12\tPDP_13\tPDP_14\tPDP_15\tPDP_16\tPDP_17\tPDP_18\tPDP_19\tPDP_20\tPDP_21\tPDP_22\tPDP_23\tPDP_24\tPDP_25\tPDP_26\tPDP_27\tPDP_28\tPDP_29\tPDP_30\tPDP_31\tPDP_32\tPDP_33\tPDP_34\tPDP_35\tPDP_36\tPDP_37\tPDP_38\tPDP_39\tPDP_40\tPDP_41\tPDP_42\tPDP_43\tPDP_44\tPDP_45\tPDP_46\tPDP_47\tPDP_48\tPDP_49\tPDP_50\tPDP_51\tPDP_52\tPDP_53\tPDP_54\tPDV_01\tPDV_02\tPDV_03\tPDV_04\tPDV_05\tPDV_06\tPDV_07\tPDV_08\tPDV_09\tPDV_10\tPDV_11\tPDV_12\tPDV_13\tPDV_14\tPDV_15\tPDV_16\tPDV_17\tPDV_18\tPDV_19\tPDV_20\tPDV_21\tPDV_22\tPDV_23\tPDV_24\tPDV_25\tPDV_26\tPDV_27\tPDV_28\tPDV_29\tPDV_30\tPDV_31\tPDV_32\tPDV_33\tPDV_34\tPDV_35\tPDV_36\tPDV_37\tPDV_38\tPDV_39\tPDV_40\tPDV_41\tPDV_42\tPDV_43\tPDV_44\tPDV_45\tPDV_46\tPDV_47\tPDV_48\tPDV_49\tPDV_50\tPDV_51\tPDV_52\tPDV_53\tPDV_54\tTHV_01\tTHV_02\tTHV_03\tTHV_04\tTHV_05\tTHV_06\tTHV_07\tTHV_08\tTHV_09\tTHV_10\tTHV_11\tTHV_12\tTHV_13\tTHV_14\tTHV_15\tTHV_16\tTHV_17\tTHV_18\tTHV_19\tTHV_20\tTHV_21\tTHV_22\tTHV_23\tTHV_24\tTHV_25\tTHV_26\tTHV_27\tTHV_28\tTHV_29\tTHV_30\tTHV_31\tTHV_32\tTHV_33\tTHV_34\tTHV_35\tTHV_36\tTHV_37\tTHV_38\tTHV_39\tTHV_40\tTHV_41\tTHV_42\tTHV_43\tTHV_44\tTHV_45\tTHV_46\tTHV_47\tTHV_48\tTHV_49\tTHV_50\tTHV_51\tTHV_52\tTHV_53\tTHV_54\tTDP_01\tTDP_02\tTDP_03\tTDP_04\tTDP_05\tTDP_06\tTDP_07\tTDP_08\tTDP_09\tTDP_10\tTDP_11\tTDP_12\tTDP_13\tTDP_14\tTDP_15\tTDP_16\tTDP_17\tTDP_18\tTDP_19\tTDP_20\tTDP_21\tTDP_22\tTDP_23\tTDP_24\tTDP_25\tTDP_26\tTDP_27\tTDP_28\tTDP_29\tTDP_30\tTDP_31\tTDP_32\tTDP_33\tTDP_34\tTDP_35\tTDP_36\tTDP_37\tTDP_38\tTDP_39\tTDP_40\tTDP_41\tTDP_42\tTDP_43\tTDP_44\tTDP_45\tTDP_46\tTDP_47\tTDP_48\tTDP_49\tTDP_50\tTDP_51\tTDP_52\tTDP_53\tTDP_54\tTDV_01\tTDV_02\tTDV_03\tTDV_04\tTDV_05\tTDV_06\tTDV_07\tTDV_08\tTDV_09\tTDV_10\tTDV_11\tTDV_12\tTDV_13\tTDV_14\tTDV_15\tTDV_16\tTDV_17\tTDV_18\tTDV_19\tTDV_20\tTDV_21\tTDV_22\tTDV_23\tTDV_24\tTDV_25\tTDV_26\tTDV_27\tTDV_28\tTDV_29\tTDV_30\tTDV_31\tTDV_32\tTDV_33\tTDV_34\tTDV_35\tTDV_36\tTDV_37\tTDV_38\tTDV_39\tTDV_40\tTDV_41\tTDV_42\tTDV_43\tTDV_44\tTDV_45\tTDV_46\tTDV_47\tTDV_48\tTDV_49\tTDV_50\tTDV_51\tTDV_52\tTDV_53\tTDV_54\tHospital'][i].split('\t'))

    wb.save('./compare.xlsx')

    compare_data = pd.read_excel('./compare.xlsx')
    want_data = compare_data.drop(columns = 'Hospital')

    err_list = []
    for i in range(len(want_data['PID'])):
        if not want_data['PID'][i].isdigit() : 
            err_list.append(i)

    for i in err_list:
        want_data['PID'][i] = df[df.columns[0]][982].split('.')[1]

    want_data['DOB'] = pd.to_datetime(want_data['DOB'])
    want_data['Full Name'] = want_data['Full Name'].apply(lambda x: x.upper().replace(' ',''))
    
    return want_data

In [34]:
compare_same(df_sam2)

,PID,Full Name,DOB,Eye,Exam Date,Exam ID,Pupil diameter,False positive percent,False negative percent,Fixation loss,...,TDV_45,TDV_46,TDV_47,TDV_48,TDV_49,TDV_50,TDV_51,TDV_52,TDV_53,TDV_54
0,1912561,K.M.Y,1973-03-02,OD,2013-01-17 오전 8:38:54,NaN,0.0,0,0,0,...,-1,0,-2,1,-1,1,0,0,0,1
1,1912561,K.M.Y,1973-03-02,OS,2013-01-17 오전 8:44:36,NaN,0.0,2,5,2,...,-2,-1,-5,-2,-1,-2,-3,0,-3,0
2,1591336,1591336,1960-01-23,OD,2013-07-25 오전 9:50:40,NaN,3.2,3,0,1,...,-4,-4,-7,-5,-3,-2,-1,-2,-3,-3
3,1591336,1591336,1960-01-23,OS,2013-07-25 오전 9:59:05,NaN,3.1,0,3,0,...,-3,-4,-5,-5,-3,-4,-3,-3,-4,-3
4,1314292,A.A.R,1981-07-15,OD,2009-08-19 오전 10:07:12,NaN,5.2,0,0,0,...,-11,-7,-7,-7,-5,-5,-8,-7,-5,-6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,185305,B.M.K,1953-06-17,OS,2009-05-27 오전 10:00:08,NaN,0.0,0,7,2,...,-6,-2,-4,-4,-2,-6,-4,-3,-5,-5
995,1947494,B.M.J,1989-11-27,OD,2009-08-07 오전 11:53:41,NaN,5.1,0,4,4,...,-5,1,-1,0,0,-1,0,-4,-2,0
996,1947494,B.M.J,1989-11-27,OS,2009-08-07 오후 12:09:54,NaN,6.4,7,14,0,...,-6,-2,-7,-5,-2,-5,-9,-8,-6,-4
997,1069890,B.M.S,1954-01-10,OD,2011-07-11 오후 12:05:03,NaN,8.3,0,0,5,...,3,-3,-3,-2,-2,-2,-2,-3,-3,-2
998,1069890,B.M.S,1954-01-10,OS,2011-07-11 오후 12:11:50,NaN,7.3,3,2,7,...,-5,-2,-3,0,3,-1,-6,-5,-4,-5

* 핸즈온 머신러닝 스터디

tensorflow는 32bit
@ matrix product
tf.newaxis : 열로 취급

keras.backend 저수준 API

넘파이배열을 텐서로 만들 때 dtype=tf.float32로 변환 필요

tf.Tensor는 변경 불가능
tf.Variable로 해서 .assign을 통해서만 바꿀 수 있음

* 주식회사 단비 설명

주식회사 단비
직원 22 / 7년 
OpenVINO

스마트팩토리란 ? 
OpenCV